@import '_vars';

.wrapper{
    padding: 50px;
    text-align: center;
    max-width: 1000px;
    margin: 0 auto;
    h1{
        color: $color-accent;
    }
    h2{
        background-color: $color-default;
    }
}